body {
    background-color: #eee8e8;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

html {
    border: 2px solid black;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


/*----header container--*/

header {
    width: 100%;
    height: 100vh;
    position: relative;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.4);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #f8f5f5;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
    padding: 0px 5%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    text-decoration: none;
    margin: 30px;
    font-family: sans-serif;
    color: #504b4b;
    font-size: 18px;
    font-weight: 400;
}

nav ul li a:hover {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.2s;
}

a {
    text-decoration: none;
}

span {
    color: #575454;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.active {
    font-weight: 500;
    color: #1a1414;
}


/*---info container--*/

.info-container {
    position: absolute;
    left: 15%;
    top: 42%;
    transform: translate(-15%, -42%);
}

.info-container P:nth-child(1) {
    font-family: calibri;
    font-weight: bold;
    color: #575454;
    font-size: 30px;
}

.info-container P:nth-child(2) {
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #030303;
    font-size: 55px;
    line-height: 2px;
}

.info-container P:nth-child(3) {
    font-family: myriad pro regular;
    color: #575454;
    font-size: 33px;
    line-height: 35px;
}

.info-container p {
    line-height: 0px;
    margin: 49px 0px 25px;
}

.info-container button {
    width: 130px;
    height: 40px;
    border-radius: 15px;
    font-family: calibri;
    font-weight: bold;
    font-size: 18px;
    outline: none;
}

form {
    width: 350px;
    max-width: 100%;
    position: relative;
}

form input:first-child {
    display: inline block;
    width: 50%;
    padding: 5px 100px 5px 13px;
    border-radius: 30px;
    outline: none;
    border: 2px solid black;
    font-size: 15px;
}

form input:last-child {
    position: absolute;
    display: inline block;
    padding: 5px 15px;
    border: none;
    border-radius: 30px;
    outline: none;
    border: 2px solid black;
    background-color: #eee8e8;
    color: black;
    box-shadow: 0px 0px 5px;
    right: 20px;
    font-size: 15px;
    font-weight: 500;
}

.image {
    height: 486px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: tramslateX(-50%);
    overflow: hidden;
    border-radius: 40px;
}


/*---about container--*/

.about-container {
    width: 90%;
    height: 300px;
    background-color: #fcecec;
    border-radius: 30px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: -1% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-container img {
    height: 300px;
    border-radius: 30px;
}

.about-text {
    width: 600px;
}

.about-text p:nth-child(1) {
    color: #403e3e;
    font-family: myriad pro;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}

.about-text p:nth-child(2) {
    color: #3e3d3d;
    font-size: 19px;
    font-family: myriad pro;
    font-weight: bold;
    line-height: 5px;
}

.about-text p:nth-child(3) {
    color: #7e7d7d;
    font-size: 18px;
    font-family: calibri;
}

.about-text button {
    width: 120px;
    height: 40px;
    color: #ffffff;
    outline: none;
    border: 2px solid whitesmoke;
    border-radius: 30px;
    font-family: calibri;
    background-color: #262525;
    font-size: 17px;
}


/*EducationBackground*/

.Education-background {
    width: 99%;
    height: 72vh;
    margin-left: 6px;
    margin-top: -21px;
}

.Education {
    margin-top: 50px;
    text-align: center;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #7e7d7d;
}

.education-details {
    width: 30%;
    height: 30px;
    padding: 20px;
    border-radius: 40px;
    position: relative;
    background-color: #FCECEC;
    margin: 10px 80px;
    text-align: center;
}

.education-details:nth-child(even) {
    margin-left: auto;
}

.education-info {
    display: flex;
    text-align: center;
}

.education-info:hover {
    background-color: wheat;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.3s;
}

.education-school {
    font-family: calibria;
    font-size: 18px;
    color: black;
    margin: 10px 5px;
}

.education-year {
    margin-left: 10px;
    font-family: calibria;
    font-size: 16px;
    color: black;
    margin: 13px;
}

.education-programme {
    font-family: calibria;
    font-size: 18px;
    color: #965050;
    padding-bottom: 5px;
    text-align: center;
    margin-left: 10px;
}


/*skills section*/

.skills-container {
    width: 100%;
    height: 60vh;
    position: relative;
    background-color: #000000;
    box-shadow: 2px 2px 12px;
    margin: -5% auto 20px auto;
    position: relative;
}

.skills {
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 500;
    text-decoration-color: #504b4b;
}

.skillsss {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 200px;
}

.skill {
    height: 160px;
    width: 125px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px;
}

.skill:hover {
    color: #565555;
    background-color: #EEE8E8;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.3s;
}

.skill-name {
    font-size: 25px;
    font-weight: 600;
    font-style: calibri;
    color: #cbcbcb;
}

.skill i {
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    color: #7E7D7D;
}


/*--My projects--*/

.projects {
    width: 100%;
    height: 75vh;
    margin-top: -30px;
}

.project-heading {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    color: #000000;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.project {
    width: 310px;
    height: 290px;
    text-align: center;
    box-shadow: 5px 5px 15px #ffffff;
    border: none;
    border-radius: 40px;
    position: relative;
    margin-left: 10px;
}

.project:hover {
    background-color: #f5deb3;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.3s;
}

.project-name {
    font-size: 20px;
    font-weight: bold;
    font-family: calibri;
    color: #3e3d3d;
    margin-top: -1px;
}

.project-info {
    color: #575454;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.repo {
    border: 2px solid #030303;
    color: #373636;
    width: 100px;
    height: 30px;
    border-radius: 100px;
    font-size: 15px;
}

.live {
    color: #373636;
    border: 2px solid #030303;
    width: 100px;
    height: 30px;
    border-radius: 100px;
    font-size: 15px;
}

.repo:hover {
    background-color: #373636;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
    color: #cbcbcb;
}

.live:hover {
    background-color: #373636;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
    color: #cbcbcb;
}

button:active {
    transform: scale(1.1);
}

.insurence,
.javascript,
.portfolio {
    width: 310px;
    height: 170px;
    border-radius: 40px;
}


/*----Service Offers------*/

.service-offers {
    height: 430px;
    width: 80%;
    background-color: #ffffff;
    padding: 2% 10% 0px 10%;
    border-radius: 30px;
    box-shadow: 5px 5px 10px;
}

.service-text {
    font-family: calibri;
    font-size: 35px;
    font-weight: bold;
    color: #3e3d3d;
    text-align: center;
    margin-top: -15px;
}

.service1,
.service2,
.service3 {
    margin: 0px 0px 0px 10px;
    text-align: center;
    width: 300px;
    height: 320px;
    background-size: cover;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    border-radius: 30px;
}

.service1:hover,
.service2:hover,
.service3:hover {
    color: #000000;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.service-container {
    display: flex;
    justify-content: space-around;
}

.service1 span,
.service2 span,
.service3 span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    font-family: calibri;
    font-weight: bold;
}

.service1 p:nth-child(2),
.service2 p:nth-child(2),
.service3 p:nth-child(2) {
    color: #ffffff;
    font-family: calibri;
    font-size: 23px;
    line-height: 0px;
}

.service1 p:nth-child(3),
.service2 p:nth-child(3),
.service3 p:nth-child(3) {
    color: #ffffff;
    text-align: center;
    font-family: calibri;
    width: 230px;
    margin: 0px 0px 20px 0px;
    color: #8f8f8f
}

.service1 button,
.service2 button,
.service3 button {
    width: 100px;
    height: 30px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 15px;
}

.service1 button:hover,
.service2 button:hover,
.service3 button:hover {
    color: #ffffff;
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}


/*Contact section*/

.contact {
    position: relative;
    height: 70vh;
    width: 100%;
    display: flex;
    background-color: #000000;
    border-radius: 20px;
    margin-top: -30px;
}

.map {
    width: 400px;
    height: 250px;
    padding: 5px;
    border-radius: 30px;
    border: 2px solid #cbcbcb;
    background-color: #191919;
    margin-top: 70px;
    margin-right: 60px;
}

.map iframe {
    width: 400px;
    height: 250px;
    border-radius: 30px;
}

.contact-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.name,
.mail {
    margin-left: 50px;
    border-radius: 10px;
    text-transform: capitalize;
    margin-bottom: 5px;
    padding: 5px 12px;
    color: #000000;
    border-radius: 10px;
    padding: 5px 12px;
    width: 290px;
    height: 20px;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.submit-btn {
    margin-top: 10px;
    margin-left: 50px;
    border: none;
    border-radius: 10px;
    padding: 5px 12px;
    width: 180px;
    height: 30px;
    color: #030303;
    background-color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.contact-container p {
    color: #f8f5f5;
    font-size: 30px;
    font-family: calibri;
    font-weight: bold;
    text-align: center;
}


/*footer part*/

.footer {
    height: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.footer p {
    font-family: calibri;
}

.footer p:nth-child(1) {
    font-size: 35px;
    font-weight: bold;
    color: #191919;
    line-height: 2px;
}

.footer p:nth-child(2) {
    font-size: 20px;
    color: #7e7d7d;
    text-align: center;
    margin-top: -10px;
}

#footer {
    display: flex;
}

.communication-container a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    margin: 20px 10px;
    border-radius: 50%;
    margin-top: -1px;
}

.communication-container {
    display: flex
}

.Copyright {
    color: #141313;
    font-size: 20px;
    position: absolute;
    bottom: 9px;
}

.communication-container i {
    color: #000000;
    font-size: 25px;
}

.communication-container a:hover,
.communication a:hover {
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.communication-container a:hover i,
.communication a:hover i {
    color: #ffffff;
    transition: all ease 0.5s;
}

.communication {
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
}

.communication a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    border-radius: 10px;
    background-color: wheat;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

.communication i {
    color: #2b2b2b;
    font-size: 25px;
}